<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<form th:action="@{/login}" method="POST">

    <h1>로그인 페이지</h1>
    <label>
        아이디<br />
        <input type="text" name="memberId" placeholder="아이디를 입력해주세요">
    </label><br /><br />

    <label>
        비밀번호<br />
        <input type="password" name="memberPassword" placeholder="비밀번호를 입력해주세요">
    </label><br /><br />
    <input type="submit" value="로그인"><br /><br />

    <a href="https://github.com/login/oauth/authorize?client_id=528906fe8ea1632081b1&redirect_uri=http://localhost:8080/login/oauth2/code/github">깃허브 go</a>

</form>
</body>
</html>